<div class="checkout-static-upselling row {% if position == 'bottom' %}pt-4{% endif %}">
    {% if 'MelvStaticUpselling.title'|trans != '' %}
        <div class="col-12 cms-element-product-slider">
            <div class="cms-element-title">
                <p class="cms-element-title-paragraph">{{ "MelvStaticUpselling.title"|trans|sw_sanitize }}</p>
            </div>
        </div>
    {% endif %}
    {% for product in page.MelvStaticUpsellingProducts %}
        <div class="col-12 {{ productColumns }} pb-4">
            {% block element_product_listing_box %}
                {% sw_include '@Storefront/storefront/component/product/card/box.html.twig' with {
                    'layout': 'minimal',
                    'displayMode': 'contain'
                } %}
            {% endblock %}
        </div>
    {% endfor %}
</div>
